@using AutoMapper
@model WebShop.Models.ProductCreateViewModel
@inject IMapper _mapper

@{
    ViewData["Title"] = "Створити";
    var categories = Model.Categories.Select(x => _mapper.Map<SelectListItem>(x)).ToList();
}

<h1>Додати продукт</h1>

@*<h4>ProductCreateViewModel</h4>
*@<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <div id="myImages">

                </div>

                <label for="files" class="control-label"
                       style="border:dotted; height: 100px">Оберіть фото</label>
                <input type="file"
                       id="files"
                       style="display:none" multiple
                       accept="image/jpeg,image/png,image/jpg"
                       class="form-control" />
            </div>


            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                @Html.DropDownListFor(x=>x.CategoryId, categories, new {@class="form-control"})
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Додати" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Повернутись до списку</a>
</div>

@section Scripts {
    <script>
        window.onload = function () {
            const myImages = document.getElementById("myImages");
            const files = document.getElementById("files");
            files.onchange = function (e) {
                const list = e.target.files;
                if (list && list.length) {
                    for (let i = 0; i < list.length; i++) {
                        const file = list[i];
                        const url = URL.createObjectURL(file);
                        var data = `
                                <img src = ${url} height="100" />
                                `;
                        console.log(data);
                        myImages.innerHTML += data;
                    }
                }
                e.target.value = "";
                //console.log("Select files", list);
            }
        }
    </script>
}

